@media (min-width: 770px) {
	#contentwrapper {
    	margin-top: -43px!important;
	}
	.site-navigation {
    	background-color: transparent!important;
    	z-index: 900!important;
	}
}

@media all and (max-width: 770px) {
    .bunchofboxes h3 {
		font-size: 20px;
		padding: 0px;
        margin: 5px 0px 0px 0px;
    }
    .bunchofboxes h2 {
        padding:0px !important;
        font-size:18px;
    }
    .bwb4 img {
    	margin-bottom:2px !important;
    }
}

.bunchofboxes {
	font-size: 15px;
}
